extends base.pug

block scripts 
  script(src='/index.js')

block style 
   style
      include style.css
      include stylecontact.css 

block content
    div.container
        h1 About [SDA]
        strong 
          Located within the City of [LUCKONOW], [SHUBHAM DANCE ACADMEY] is a/the most comprehensive dance facility within [LUCKNOW] region. We have [23] studios and [50+] of styles on offer for students from ages [04] to [35]. To ensure classes are suitable for those who attend, we offer a range of options across styles, age groups and abilities. Whether you are aiming for a professional career, looking to stay fit or finally ready to give dance a try, we have a class for you. The teachers at [SHUBHAM DANCE ACADMEY] have a vast range of experience across disciplines. Our collective approach is to share our love of dance while being supportive and encouraging. Enrol for group lessons or book private lessons at a time that suits you.
        h1 OUR VISION
        strong 
          Our vision is to create a world where everyone can access the magic of dance. We have witnessed first hand how dance can build character, confidence and friendships. This beautiful, enriching sport is an incredible tool to teach body awareness, self-discipline and teamwork. Through our service of teaching dance, we strive to provide exceptional coaching and leadership to our students. While striving to instill the importance of etiquette and manners, we also focus on good self-esteem and positive body image.