extends base.pug

block scripts 
  script(src='/index.js')

block style 
   style
      include style.css
      include stylecontact.css 

block content
    div.container
        h1 Dance Classes [SDA]
        strong 
          We offer a variety of dance classes for all ages and abilities, from tiny tots and beginners to adults and professional level students. You’ll find our classes welcoming and encouraging as we aim to teach through positivity and support, not intimidation or bullying. Enrol for a FREE trial class to find out if the style you have chosen is suitable for you or your child.
        h1 Classical Ballet
        h2 Dance’s most respected disciplines.
        strong
          Ballet is one of the world’s most beautiful and revered art forms. Adults and children alike will love building on a foundation of basic movements set to beautiful music as they grow their strength and abilities. While it can be challenging at the higher levels, this traditional dance form is a pleasure to learn for all ages. Students who take ballet classes build self-control, body awareness and self discipline as they learn to master increasingly technical moves.
        h1 Jazz
        h2 Experience the energy of jazz!
        strong 
          This popular and dynamic style is taught in a positive environment to all age groups. Jazz is enjoyable for any dancer who just wants to get moving! Students have the opportunity to work towards group or individual competitions, or can come along to classes for their own enjoyment. Lessons are taught by experienced and encouraging instructors. Book a free trial today.
        h1 Tap
        h2 Get your toes tapping!
        strong 
          Made popular during the 20th Century, this appealing dance style still has its place in the modern world. Learning tap dancing is ideal for those hoping for a career in musical theatre or adults who have always wanted to give it a try. Mastering this style of dance can help with coordination, rhythm, musicality and agility. Classes are designed to suit your ability and are always enjoyable!
        h1 Contemporary
        h2 Boost your fitness and your movement skills.
        strong 
          Contemporary Dance bridges the gap between jazz and ballet, offering a fluid movement style and encouraging creative thinking. This form of dance often shares emotive storylines, encouraging students to express themselves through movements. While it is less ‘rigid’ than ballet, contemporary still requires students to build a strong technical foundation.
        h1 Hip Hop
        h2 Bust some moves on the floor!
        strong 
          Modern and dynamic, hip hop is certainly addictive. This powerful, high-energy dance style relies on a punchy beat and a little bit of attitude! Children and adults will master individual moves before learning to build up to longer routines. The Hip Hop craze remains popular around the world and students will love these dynamic classes.
        h1 Musical Theatre
        h2 Got stars in your eyes?
        strong 
          Our musical theatre program delivers a mix of jazz, tap, contemporary and modern dance skills. Students combine their love of song with dance in these energetic and diverse classes. Available for adults or children, these lessons have a focus on fun! Jump, twirl and glide to some of Broadway’s most memorable tunes.
        